<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
	    <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", nabaztags_path  %></li>
  		<li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_nabaztag_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Nabaztags</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
										<th>
					<%= t("activerecord.attributes.nabaztag.name", :default => t("activerecord.labels.name", :default => "Name")) %>
</th>
					          <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @nabaztags.each do |nabaztag| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= nabaztag.id %>
          </td>
										<td>
						<%= link_to nabaztag.name, nabaztag_path(nabaztag) %>
					</td>
										<td>
            <%= nabaztag.created_at %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", nabaztag_path(nabaztag) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_nabaztag_path(nabaztag) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", nabaztag_path(nabaztag), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>